<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Denton Admin App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(this.credentials.get('email')?.dirty || this.credentials.get('email')?.touched) && this.credentials.get('email')?.errors">Email is invalid</ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Password needs to be 6 characters</ion-note>
    </ion-item>

    <a (click)="forgotPassword()">Forgot Password</a>

    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
  </form>
</ion-content>
