<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Denton Admin App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    
    <ion-item fill="solid" class="ion-margin-bottom" lines="none">
      <ion-input type="email" placeholder="Email" formControlName="email" [clearInput]="true" errorText="Invalid email"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom" lines="none">
      <ion-input type="password" placeholder="Password" formControlName="password" [clearInput]="true" errorText="Password needs to be atleast 6 characters">
        <ion-input-password-toggle color="medium" slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <a (click)="sureForgot()">Forgot Password</a>

    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
  </form>
</ion-content>
