<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-button fill="clear" slot="end" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Doesnt Route to the pages -->

  <ion-card (click)="openPrayerTimes()">
    <img alt="Finding the prayer times" src="../../assets/prayer.jpeg" />
    <ion-card-header>
      <ion-card-title>Prayer Times</ion-card-title>
      <ion-card-subtitle>Edit Iqama Timings</ion-card-subtitle>
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>

  <ion-card (click)="openEvents()">
    <img alt="Calendar with event scheduled" src="../../assets/events.jpeg" />
    <ion-card-header>
      <ion-card-title>Notifications</ion-card-title>
      <ion-card-subtitle>Edit the notification events</ion-card-subtitle>
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>

  <ion-card (click)="openStorageEdit()">
    <img alt="Firebase Cloud Storagez" src="../../assets/storage.jpeg" />
    <ion-card-header>
      <ion-card-title>Storage</ion-card-title>
      <ion-card-subtitle>Edit the cloud firebase storage</ion-card-subtitle>
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>
  
</ion-content>
